.header{
    padding: 1rem;
    color: #444;
}

.container{
    
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}



/* #### #### ### ##### ###### #### */
.post-form{
    min-width: 280px;
    border: 1px dashed #555;
    padding: 1rem;
    border-radius: 5px;
    overflow: hidden;
}
.post-form h2{
    color: #444;
}
.post-form .name{
    width: 100%;
    padding:15px 10px;
    color: #444;
    outline: none;
    margin-top: .5rem;
}

.post-form .quote{
    padding: 10px;
    width: 100%;
    margin: .5rem 0;
    resize: vertical;
}


/* #### #### ### ##### ###### #### */
.pp{
    border: 1px dashed #444;
    width: 50%;
    padding: .5rem;
    border-radius: 5px;
}
.post-preview{
    border-radius: 5px;
    border: 1px dashed #555;
    min-width: 280px;
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quote-con{
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-preview .author{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: .5rem;
    gap: .5rem;
}

.author img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

/* ####  ####  ####  ####  ####  #### */
.dl-btn{
    padding: .8rem 1rem;
    border: none;
    outline: none;
    background-color: #333;
    color: #ddd;
    border-radius: 50px;
    cursor: pointer;
    transition: all .5s ease;
    margin-top: 1rem;
}
.dl-btn:hover{
    background-color: #444;
}



/* ###################################  */
.footer{
    padding: 4rem 2rem;
    background-color: #333;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}